# Ambiente
ENVIRONMENT=development
DEBUG=true

# Database - PostgreSQL para Docker
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/mundo_invest

# Pipefy
PIPEFY_API_URL=https://api.pipefy.com/graphql
PIPEFY_API_TOKEN=seu_token_aqui
PIPEFY_PIPE_ID=seu_pipe_id_aqui