# Ambiente
ENVIRONMENT=development
DEBUG=true

# Database
# Para Docker: postgresql+asyncpg://postgres:postgres@db:5432/mundo_invest
# Para local:  postgresql+asyncpg://postgres:postgres@localhost:5432/mundo_invest
# Para SQLite: sqlite+aiosqlite:///./mundo_invest.db
DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/mundo_invest

PIPEFY_API_URL=https://api.pipefy.com/graphql
PIPEFY_API_TOKEN=
PIPEFY_PIPE_ID=

API_KEY=


CORS_ORIGINS=*